@font-face {
	font-family: massEffect;
	src: url(../font/me123.ttf);
}

body{
	margin: 0;
	padding: 0;
	background-color: blue;
	background: url(../images/main3.jpg);
    	background-size: 100%;
	font-family: massEffect;
	color: white;
}

#content {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	margin-top: 200px;
	height:auto;
}

.clear {
	clear: both;
}

#countdown-container {
    margin: 0 auto;
	margin-top: 10px;
	width: 622px;
	text-align: center;
}

#countdown {
	float: left;
	padding: 5 10 0 10;
}

#soundcloud {
	width: 0px;
}

#source {
	clear:both;
	opacity: 0.2;
	margin: -35 0 0 -105;
	width: 860px;
	height: 155px;
	display: block;
	border-radius: 25px;
}

#source:hover {
	clear:both;
	background-color: #04011c;
	opacity: 0.2;
	margin: -35 0 0 -105;
	width: 860px;
	height: 155px;
	display: block;
	border-radius: 25px;
}

#source a {
	text-decoration: none;
	color: lightblue;
	font-size: 30px;
}
